* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15%;
  background-color: rgb(48, 160, 160);
  /* background-color: white; */
  box-shadow: 0 1px 5px rgb(0, 0, 0);
  margin-bottom: 5px;
  color: white;
}
nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.nav-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-options-button {
  /* background-color: white; */
  /* border: black solid 1px; */
  padding: 5px 50px;
  font-weight: 700;

  /* border-radius: 5px; */
}
.nav-options-button:hover {
  opacity: 0.5;
}

/* section {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

footer {
  /* position: fixed; */
  bottom: 0;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#box {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.post-left > * {
  width: 50%;
}

.post-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.post-right > * {
  width: 50%;
}

.card {
  border: solid 1px rgba(0, 0, 0, 0.563);
  padding: 15px;
  border-radius: 5px;
}
