@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root{
  --default-bg-color: white;
  --font-color: #242424;
  --header-font-color: white;
  --primary-bg-color: #30A0A0;
  --bw-footer-bg-color: #227880;
  --switch-bg-url: url(images/moon.svg);
  --highlight-color: rgba(255, 255, 255, 0.2);
}
.dark{
  --default-bg-color: #242424;
  --font-color: #ddd;
  --header-font-color: #ddd;
  --primary-bg-color: #14484d;
  --bw-footer-bg-color: #061819;
  --switch-bg-url: url(images/sun.svg);
  --highlight-color: rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-family: 'Geologica', sans-serif;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  padding-left: 0;
}

body {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--default-bg-color);
  transition: 300ms;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  background-color: var(--primary-bg-color);
  /* background-color: white; */
  box-shadow: 0 1px 5px rgb(0, 0, 0);
  margin-bottom: 5px;
  color: var(--header-font-color);
}

nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 30px; */
  height: 100%;
}

#logo {
  animation: pulse infinite;
  animation-duration: 2s;
}

.logo-container {
  display: flex;
  align-items: center;
  font-weight: 500;
  animation: fadeIn;
  animation-duration: 0.5s;
}
.logo-title {
  margin: 0;
  font-size: 2rem;
}
.nav-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-options-button {
  padding: 5px 50px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: ease 0.2s;
  animation: fadeInLeft;
  animation-duration: 0.5s;
}

.nav-options-button:hover {
  /* opacity: 0.5; */
  border-radius: 10px;
  border-bottom: solid 1px var(--header-font-color);
}
.card-body {
  background-color: var(--default-bg-color);
  transition: 350ms;
}
.card-body > p,
.card-title {
  color: var(--font-color);
  transition: 350ms;
}

/* FOOTER */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

footer {
  font-family: 'inter', sans-serif;
  letter-spacing: 1px;
  color: var(--header-font-color);
  margin-top: 2rem;
}

#footer-content{
  background-color: var(--primary-bg-color);
  transition: 350ms;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 24px 12px;
  width: 100%;
}

#footer-contacts h2{
  display: flex;
  justify-content: center;
  margin-bottom: 0.75rem;
}

#footer-social-media{
  display: flex;
  justify-content: space-around;
  margin: 0px auto 0px;
}

#footer-social-media .footer-link{
  display: flex;
  padding: 10px;
  border-radius: 50%;
  color: var(--header-font-color);
  transition: background 250ms;
}

#footer-social-media .footer-link:hover{
  background: var(--highlight-color);
  }

#footer-copyright{
  display: flex;
  justify-content: center;
  background-color: var(--bw-footer-bg-color);
  transition: 350ms;
  font-weight: 100;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#box {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
#utils > * {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 100px;
  background-color: var(--primary-bg-color);
  transition: 350ms;
}

#utils > *:hover {
  background-color: #ddd;
}
#utils {
  gap: 5px;
  position: fixed;
  bottom: 10px;
  right: 15px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}
#switch-theme {
  background: var(--primary-bg-color) var(--switch-bg-url) no-repeat center;
  box-shadow: 0 3px 5px rgb(0, 0, 0);
}

#pauseSpeech {
  display: none;
  box-shadow: 0 3px 5px rgb(0, 0, 0);
}

#scrollToTop {
  display: none;
  /* position: fixed; */
  /* bottom: 10px; */
  /* right: 15px; */
  border-radius: 100px;
  height: 50px;
  width: 50px;
  border: none;
  background-color: var(--primary-bg-color);
  box-shadow: 0 3px 5px rgb(0, 0, 0);
}


#post-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 10px;
  justify-items: center;
}
.card {
  width: 28rem;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s; /* don't forget to set a duration! */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(37, 40, 41);
  border-radius: 10px;
}

@media screen and (max-width: 1600px) {
  #post-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1220px) {
  #post-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  nav {
    /* width: 100%; */
    align-items: end;
  }
  .nav-options {
    width: 80%;
    justify-content: normal;
  }
  .nav-options-button {
    padding: 6px 30px;
  }
}

@media screen and (max-width: 920px) {
  header {
    justify-content: flex-start;
    flex-direction: column;
    height: fit-content;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav-options {
    justify-content: center;
    margin-top: 0.5rem;
    width: 100%;
    flex-direction: column;
  }
  #logo {
    width: 80px;
  }
  .nav-options-button {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
  }
  .logo-container {
    flex-direction: column;
  }
  #box {
    overflow-x: auto;
  }
  .card {
    width: 18rem;
  }
}

nav > ul > li > a {
  list-style: none;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
.local-links {
  text-decoration: none;
  color: var(--font-color);
  transition: 250ms;
}
.local-links:hover {
  color: #0b5ed7;
  transition: 250ms;
}
